<!--header开始-->
<div class="index-header-content ">
    <div class="index-header ">
        <a class="index-logo fl" href="##"></a>
        <div class="header-fr1 fl ">
            成都
            <i class="triangle triangle1 "></i>
            <div class="cities">
                <p>定位城市：成都</p>
                <ul class="cities-ul">
                    <li>
                        <span class="letter">A</span>
                        <div class="letters ">
                            <a href="###">安阳</a>
                            <a href="###">安阳</a>
                            <a href="###">安阳</a>
                            <a href="###">安阳</a>
                            <a href="###">安阳</a>
                            <a href="###">安阳</a>
                            <a href="###">安阳</a>
                            <a href="###">安阳</a>
                            <a href="###">安阳</a>
                            <a href="###">安阳</a>
                            <a href="###">安阳</a>
                            <a href="###">安阳</a>
                        </div>
                    </li>
                    <li>
                        <span class="letter">B</span>
                        <div class="letters ">
                            <a href="###">保定</a>
                            <a href="###">保定</a>
                            <a href="###">保定</a>
                            <a href="###">保定</a>
                            <a href="###">保定</a>
                        </div>
                    </li>
                    <li>
                        <span class="letter">C</span>
                        <div class="letters ">
                            <a href="###">成都</a>
                            <a href="###">成都</a>
                            <a href="###">成都</a>
                            <a href="###">成都</a>
                            <a href="###">成都</a>

                        </div>
                    </li>
                    <li>
                        <span class="letter">D</span>
                        <div class="letters ">
                            <a href="###">大兴安岭</a>
                            <a href="###">大兴安岭</a>
                            <a href="###">大兴安岭</a>
                            <a href="###">大庆</a>
                            <a href="###">大庆</a>
                            <a href="###">大庆</a>
                            <a href="###">大庆</a>
                            <a href="###">大庆</a>
                            <a href="###">大庆</a>

                        </div>
                    </li>
                    <li>
                        <span class="letter">D</span>
                        <div class="letters ">
                            <a href="###">大兴安岭</a>
                            <a href="###">大兴安岭</a>
                            <a href="###">大兴安岭</a>
                            <a href="###">大庆</a>
                            <a href="###">大庆</a>
                            <a href="###">大庆</a>
                            <a href="###">大庆</a>
                            <a href="###">大庆</a>
                            <a href="###">大庆</a>

                        </div>
                    </li>
                    <li>
                        <span class="letter">D</span>
                        <div class="letters ">
                            <a href="###">大兴安岭</a>
                            <a href="###">大兴安岭</a>
                            <a href="###">大兴安岭</a>
                            <a href="###">大庆</a>
                            <a href="###">大庆</a>
                            <a href="###">大庆</a>
                            <a href="###">大庆</a>
                            <a href="###">大庆</a>
                            <a href="###">大庆</a>

                        </div>
                    </li>
                    <li>
                        <span class="letter">D</span>
                        <div class="letters ">
                            <a href="###">大兴安岭</a>
                            <a href="###">大兴安岭</a>
                            <a href="###">大兴安岭</a>
                            <a href="###">大庆</a>
                            <a href="###">大庆</a>
                            <a href="###">大庆</a>
                            <a href="###">大庆</a>
                            <a href="###">大庆</a>
                            <a href="###">大庆</a>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-fr2 fl">
            <ul>
                <li><a class="on" href="../home">首页</a></li>
                <li><a href=###">电影</a></li>
                <li><a href="../bangdan">榜单</a></li>
                <li><a href="##">资讯</a></li>
            </ul>
        </div>
        <div class="header-fr4 fr">
            <!-- <i class="head"><img src="images/person.png" alt="头像"></i> -->
            <span class="triangle triangle1"></span>
            <a href="###" class="index-login">登录</a>
        </div>
        <div class="header-fr3 fr">
            <input type="text" value="找影视剧、影人、影院" onFocus="if(value==defaultValue){value=''; style.color='#333';}"
                onBlur="if(!value){value=defaultValue; style.color='#ccc';}" />
            <span class="search-btn"></span>
        </div>

    </div>
</div>
<!--header结束-->